snippet af "箭头函数" w
() => {
	${VISUAL}
}
endsnippet

snippet cl
console.log(${VISUAL:/;$//g});
endsnippet

snippet fun "function" w
${2:void }${1:name}(${3}) {
	${4:${VISUAL}}
}
endsnippet

snippet "^re" "const ... require()" rw
const ${2:$1} = require('${1}');
endsnippet
